@media (min-width:320px) and (max-width:991px){
	.bag{
		font-size: 22px;
	}
	.heart{
		font-size: 22px;
	}
	/* hero section */
	.hero .smimg1{
		margin-top: 24px;
	}
	/* hero section  end*/
	
}
@media (min-width:768px) and (max-width:990px){

.hero .smimg2{
	margin-top: 24px;
}

}
@media (min-width:320px) and (max-width:760px){
	.list  {
		width:200px;
		margin-right: 20px;
		margin-bottom: 12px;
		text-align: center;
	
	}
	.popular .foodlist{
		justify-content: center;
	}
	
}